span {
    color:red;
}

.instructions {
    background-color: pink;
}

img {
    width: 50%;
}

div {
    border: black 1px dotted;
}   


img:hover{
    animation: bounce 1s;
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}